.nccr-language-switcher {
    max-width: 520px;

    .footer {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .disable {
        flex-grow: 1;
    }

    .buttons {
        display: flex;
        gap: 12px;
    }

    button {
        flex-grow: 1;
        min-width: 80px;
    }

    @media (max-width: 420px) {
        .footer {
            flex-direction: column;
            align-items: stretch;
        }
    }
}